/* @font-face {
  font-family: 'MyFont';
  src: url('./my-font.woff2') format('woff2'),
    url('./my-font.woff') format('woff');
  font-weight: 600;
  font-style: normal;
} */

:root {
  --radius: 30px;
  --dot-size: 13px;
  --load-adjustment: calc(var(--dot-size) - 2px);
}

body {
  background-color: #f5f7fb;
  font-family: Poppins, sans-serif;
  position: relative;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

#root,
.app {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app {
  box-sizing: border-box;
  padding: 40px 10px;
}

.start {
  color: #293264;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.start--title {
  font-size: 3rem;
  padding: 0;
  margin: 0;
  font-weight: 700;
}

.start--text {
  font-size: 1rem;
  margin: 0 0 20px;
}

.start button {
  cursor: pointer;
  background-color: #4d5b9e;
  appearance: none;
  border: none;
  color: #f5f7fb;
  font-family: inherit;
  font-size: 1rem;
  height: 50px;
  width: 150px;
  border-radius: 15px;
}

.start button:hover,
.play-again-button:hover,
.check-button:hover,
.settings--button:hover,
.db-empty-screen button:hover {
  background-color: hsl(230, 34%, 56%);
}

@keyframes blobbing {
  0% {
    rotate: 0deg;
    border-radius: 50% 30%;
  }

  20% {
    border-radius: 30% 50%;
  }

  40% {
    border-radius: 50% 20%;
  }

  60% {
    border-radius: 20% 50%;
  }

  80% {
    border-radius: 50% 20%;
  }

  100% {
    rotate: 360deg;
    border-radius: 30% 50%;
  }
}

.blob {
  z-index: -1;
  animation-name: blobbing;
  animation-iteration-count: infinite;
  animation-duration: 60s;
  animation-timing-function: linear;
  animation-direction: alternate;
  height: 300px;
  width: 300px;
  position: fixed;
}

@keyframes load-dots {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes load-rotate {
  0% {
    rotate: 0deg;
    width: 100px;
    height: 100px;
  }

  50% {
    /* scale: 1; */
    width: 50px;
    height: 50px;
  }

  100% {
    rotate: 360deg;
    width: 100px;
    height: 100px;
    /* scale: 0.1; */
  }
}

.load--blob {
  animation-name: blobbing;
  animation-iteration-count: infinite;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-direction: alternate;
  height: 200px;
  width: 200px;
  position: fixed;
  background-color: #4d5b9e25;
  inset: 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.load--rotator {
  display: flex;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation-name: load-rotate;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  /* animation-direction: alternate; */
  /* animation-timing-function: linear; */
  position: relative;
}

.load--ellipsis {
  animation-name: blobbing;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-direction: alternate;
  background-color: #f5f7fb;
  height: var(--dot-size);
  width: var(--dot-size);
  border-radius: 50%;
  position: absolute;
}

.load--ellipsis.one,
.load--ellipsis.two,
.load--ellipsis.three,
.load--ellipsis.four {
  background-color: #fffad1;
}

.load--ellipsis.five,
.load--ellipsis.six,
.load--ellipsis.seven,
.load--ellipsis.eight {
  background-color: #deebf8;
}
.load--ellipsis.one {
  top: var(--load-adjustment);
  left: var(--load-adjustment);
}

.load--ellipsis.two {
  right: var(--load-adjustment);
  top: var(--load-adjustment);
}

.load--ellipsis.three {
  bottom: var(--load-adjustment);
  left: var(--load-adjustment);
}

.load--ellipsis.four {
  bottom: var(--load-adjustment);
  right: var(--load-adjustment);
}

.load--ellipsis.five {
  inset: 0;
  margin-left: auto;
  margin-right: auto;
}
.load--ellipsis.six {
  inset: 0;
  margin-top: auto;
  margin-bottom: auto;
}

.load--ellipsis.seven {
  inset: 0;
  margin: auto 0 auto auto;
}

.load--ellipsis.eight {
  inset: 0;
  margin: auto auto 0 auto;
}

.questions {
  max-width: 600px;
}

.questions p {
  margin: 0;
  font-weight: 500;
  color: #293264;
  font-size: 1.1rem;
}

.q {
  padding: 15px 0;
  border-bottom: 1px solid #dbdef0;
  position: relative;
}

.q .warning {
  position: absolute;
  top: 2px;
  right: 0;
  color: red;
  font-size: 8px;
  border: 1px solid red;
  border-radius: 20px;
  padding: 0 6px;
}

.answers {
  margin-top: 12px;
  display: flex;
  flex-wrap: wrap;
  gap: 13px;
}

.answer-button {
  border: none;
  box-sizing: border-box;
  padding: 4px 8px;
  cursor: pointer;
  color: #293264;
  background-color: #f5f7fb00;
  appearance: none;
  font-family: inherit;
  font-weight: 400;
  font-size: 0.9rem;
  min-width: 80px;
  border-radius: 12px;
  border: 1px solid #4d5b9e;
  position: relative;
}

/* .answer-button.selected {
  background-color: #d6dbf5;
  border: 1px solid #d6dbf5;
} */

.check-button,
.settings--button,
.db-empty-screen button {
  cursor: pointer;
  appearance: none;
  border: none;
  width: 150px;
  height: 40px;
  color: white;
  background-color: #4d5b9e;
  font-family: inherit;
  border-radius: 20px;
  letter-spacing: 1px;
  box-shadow: 1px 1px 3px gray;
}

button {
  transition: 0.3s;
}

button:active {
  scale: 0.95;
}

.check-button {
  margin: 20px auto 0 auto;
  display: block;
}

.settings--button {
  margin: 10px auto 0 auto
}

.play-again-footer {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
}

.footer--score {
  border: 1px solid #4d5b9e;
  border-radius: 50%;
  margin: 0;
  padding: 6px;
  font-size: 1.2rem;
  font-weight: 600;
  color: #4d5b9e;
}

.play-again-button {
  cursor: pointer;
  letter-spacing: 1px;
  font-family: inherit;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  background: #4d5b9e;
}

.open-settings-button {
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  border-radius: 50%;
  appearance: none;
  border: none;
  position: absolute;
  top: 10px;
  left: 20px;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
}

.open-settings-button:hover {
  opacity: 1;
}

.open-settings-button:active {
  scale: 0.9;
}

.open-settings-button img {
  width: 100%;
}

.settings {
  box-sizing: border-box;
  width: min-content;
  height: min-content;
  inset: 0;
  margin: auto;
  position: fixed;
  background-color: #deebf8;
  padding: 30px;
  border-radius: 20%;
  box-shadow: 1px 1px 6px #293264;
  display: flex;
  align-items: center;
  justify-content: center;
}

.settings form {
  width: min-content;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.settings form label {
  display: flex;
  flex-direction: column;
}

.error--invalid {
  /* display: none; */
  /* position: absolute; */
}

label:has(#input--number) {
  /* position: relative; */
}

.settings form:has(input:invalid) .error--invalid {
  /* display: block; */
}

label .error--invalid {
  position: relative;
}

label .error--invalid::after {
  position: absolute;
  content: '* number must be between 1 and 50';
  top: 0;
  left: 5px;
  font-size: 10px;
  width: max-content;
  color: red;
  visibility: hidden;
}

.settings form:has(input:invalid) .error--invalid::after {
  visibility: visible;
}

.settings form input,
.settings form select {
  font-family: inherit;
  font-weight: 200;
  appearance: none;
  border: none;
  padding: none;
  width: 300px;
  border-radius: 10px;
  line-height: 1.5rem;
  font-size: 100%;
  text-indent: 5px;
}

.settings form input {
  width: 50px;
  text-align: center;
}

.settings form input:focus,
.settings form select:focus {
  outline: 1px solid #4d5b9e;
}

.db-empty-screen {
  max-width: 500px;
  text-align: center;
}

.db-empty-screen button {
  margin: 20px;
}
